<%# @cocktails.each do |c| %>
<!-- <h2><%#= link_to c.name, cocktail_path(c)%></h2> -->
<%# end  %>

<div class="banner" style="background-image: /*linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),*/ url('https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1998822d443cf97d75258149476c5aa5&auto=format&fit=crop&w=1498&q=80');">
  <div class="banner-content">
    <p><span id="banner-typed-text"></span></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col col-xs-12 col-md-4s col-sm-4">
        <%#= link_to cocktail_path(cocktail), do %>
          <div class="blog-card spring-fever" style="background-image: linear-gradient(-225deg, rgba(216,216,216,0.15) 0%, rgba(229, 229, 229, 0.15) 50%), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
            <div class="title-content">
              <h2><%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail-name"%></h2>
            </div><!-- /.title-content -->
            <div class="card-info">
              <ul>
                <% cocktail.ingredients.each do |ingredient| %>
                  <li>
                    <%= ingredient.name %>
                  </li>
                <% end %>
              </ul>
            </div><!-- /.card-info -->
  <!--           <div class="gradient-overlay"></div>
            <div class="color-overlay"></div> -->
          </div>
        <%# end %>
      </div>
    <% end %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <%# @cocktails.each do |cocktail| %>


    <div class="col col-xs-12 col-md-4 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%#= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>');">


        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Le Wagon Shanghai</h2>
          <p>Very cool city, the best</p>
        </div>

      </div>
    </div>
  <%# end %>
 -->
<!--
      <div class="col col-xs-12 col-md-4 col-sm-4">
        <%#= link_to cocktail_path(cocktail), do %>
          <div class="blog-card spring-fever" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%#= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
            <div class="title-content">
              <h2><%#= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail-name"%></h2>
            </div>
            <div class="card-info">
              <ul>
                <%# cocktail.ingredients.each do |ingredient| %>
                  <li>
                    <%#= ingredient.name %>
                  </li>
                <%# end %>
              </ul>
            </div>
          </div>
      </div>
    <%# end %>

  </div> -->
<!-- </div> -->

<%#= cl_image_tag("hzvk7ka0ndh90wehuwu0")%>
<!-- <div class="blog-card spring-fever">
  <div class="title-content">
    <h3><%#= cocktail.name %></h3> -->
  <!-- </div> --><!-- /.title-content -->
  <!-- <div class="card-info"> -->
    <%#= cocktail.ingredients.name %>
  <!-- </div> --><!-- /.card-info -->
 <!--  <div class="utility-info">
    <ul class="utility-list">
      <li class="comments">12</li>
      <li class="date">03.12.2015</li>
    </ul>
  </div><!-#- /.utility-info -->
  <!-- overlays -->
  <!-- <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div> --><!-- /.blog-card -->





