<div class="form-container">
<div>
<h1>Enter a New Cocktail</h1>
</div>
<div>
<%= simple_form_for(@cocktail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
  </div>
<% end %>
</div>
</div>
